@font-face {
    font-family: 'mirror_82regular';
    src: font_url('mirror_82_v2-webfont.woff2') format('woff2'),
         font_url('mirror_82_v2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
